In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('/content/V5 .csv')

In [3]:
df_1

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [4]:
import numpy as np
# Count the number of unknown values
unknown_count = df_1.isin(['?']).sum().sum()

# Replace unknown values with null values
df_1.replace('?', np.nan, inplace=True)

# Print the number of null values
null_count = df_1.isnull().sum().sum()

# Print the results
print(f"Number of null values: {null_count}")

Number of null values: 5548

In [5]:
df_1.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [6]:
df_1.shape

(10000, 12)

In [7]:
value = df_1.iloc[692, 0]
print(f"Value at row 692 and column 0: {value}")

Value at row 692 and column 0: 2009-11-16

In [8]:
value = df_1.iloc[545, 7]
print(f"Value at row 546 and column 7: {value}")

Value at row 546 and column 7: 3

In [9]:
df_1['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [10]:
df_1.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [11]:
df_1 = df_1.dropna(thresh=2)
print(f"Number of samples after dropping rows with more than 2 missing values: {df_1.shape[0]}")

Number of samples after dropping rows with more than 2 missing values: 10000

In [12]:
df_1.dropna(axis=0, inplace=True)
print(f"Number of samples after dropping rows with any missing values: {df_1.shape[0]}")

Number of samples after dropping rows with any missing values: 5449

In [13]:
df_1

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
...,...,...,...,...,...,...,...,...,...,...,...,...
9986,2022-09-28,2022,Norwalk,305820.0,535000.0,Single Family,Detached House,3,2,1080.0,1.003979,West
9987,2022-09-28,2022,Norwalk,450510.0,677000.0,Single Family,Detached House,3,1,1000.0,1.003979,North
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [14]:
df_new = pd.read_csv('/content/V5 .csv')

In [15]:
import numpy as np
# Replace unknown values with null values
df_new.replace('?', np.nan, inplace=True)

# Print the number of null values
null_count = df_new.isnull().sum().sum()
print(f"Number of null values: {null_count}")

Number of null values: 5548

In [16]:
df_new

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,NaN,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,NaN,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [17]:
even_indexed_rows = df_new[::2]
value = even_indexed_rows.iloc[0, 3]
print(value)

111440.0

In [18]:
even_indexed_rows

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9990,2022-09-30,2022,NaN,352030.0,700000.0,NaN,Detached House,3,3,958.0,1.003979,North
9992,2022-09-30,2022,Fairfield,NaN,680000.0,Single Family,Detached House,3,2,908.0,1.003979,West
9994,2022-09-30,2022,NaN,155550.0,215000.0,Three Family,Triplex,6,5,2114.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,NaN,Duplex,4,4,1416.0,1.003979,North
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

In [19]:
print(even_indexed_rows.iloc[332, 3])

256200.0

In [20]:
odd_indexed_rows = df_new[1::2]
value = odd_indexed_rows.iloc[332, 3]
print(value)

352940.0

In [21]:
odd_indexed_rows

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West
...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,NaN,Detached House,3,3,917.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [22]:
print(odd_indexed_rows.iloc[100, 5])

Single Family

In [23]:
even_indexed_columns = df_new.iloc[:, ::2]
even_indexed_rows = even_indexed_columns[::2]

value = even_indexed_rows.iloc[255, 3]
print(f"Value in the 3rd indexed column of the 255th indexed row: {value}")

Value in the 3rd indexed column of the 255th indexed row: Detached House

In [24]:
latest_year = df_new['Year'].max()
six_years_ago = latest_year - 5
recent_data = df_new[df_new['Year'] >= six_years_ago]
num_samples = len(recent_data)
print(f"Number of samples in the six most recent years: {num_samples}")

Number of samples in the six most recent years: 4749

In [25]:
num_samples = df_new[(df_new['num_rooms'] == 3) & (df_new['num_bathrooms'] == 3)].shape[0]
print(f"Number of samples with 3 rooms and 3 bathrooms: {num_samples}")

Number of samples with 3 rooms and 3 bathrooms: 2730

In [26]:
num_samples = df_new[(df_new['num_rooms'] == 3) | (df_new['num_bathrooms'] == 3)].shape[0]
print(f"Number of samples with 3 rooms or 3 bathrooms: {num_samples}")

Number of samples with 3 rooms or 3 bathrooms: 8591

In [27]:
num_samples = df_new[(df_new['Year'] == 2022) & (df_new['Locality'] == 'Greenwich') & (df_new['num_rooms'] == 3) & (df_new['Face'].isin(['North', 'East']))].shape[0]
print(f"Number of samples in the year 2022 in Greenwich with 3 rooms and facing North or East: {num_samples}")

Number of samples in the year 2022 in Greenwich with 3 rooms and facing North or East: 42

In [28]:
import pandas as pd
# Convert the 'Date' column to datetime objects
df_new['Date'] = pd.to_datetime(df_new['Date'])

# Extract the month from the 'Date' column
df_new['Month'] = df_new['Date'].dt.month

# Count the number of samples in August
august_samples = df_new[df_new['Month'] == 8].shape[0]

print(f"Number of samples in August: {august_samples}")

Number of samples in August: 1050

In [29]:
df_new.groupby('Locality')['Sale Price'].mean().sort_values(ascending=False).head(1)

Locality
Greenwich    2.270224e+06
Name: Sale Price, dtype: float64